<%= link_to 'New', new_training_path %>

<table>
  <% @people.each do |person| %>
    <tr>
      <td><%= link_to name_for_object(person), person %></td>
      <td><%= person.email %></td>
      <td><%= person.address %></td>
    </tr>
  <% end %>
</table>
