<table>
  <% @people.each do |person| %>
    <tr>
      <td><%= link_to person.full_name, person %></td>
      <td><%= person.email %></td>
      <td><%= person.address %></td>
    </tr>
  <% end %>
</table>
