<table>
  <% @webinars.each do |webinar| %>
    <tr>
      <td><%= link_to webinar.title, webinar %></td>
      <td><%= webinar.description %></td>
      <td><%= webinar.start %></td>
    </tr>
  <% end %>
</table>
