<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <%= yield %>

  <small>
    If you do not want to receive any more emails from us, <%= link_to 'unsubscribe', unsubscribe_notifications_path(:email => message.to.first) %> from all emails.
  </small>
</body>
</html>
